h1{
  ont-size: 46px;
color: red;
font-style: italic;
text-align: center;
}
* {
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.food1,
.food2,
.food3 {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    word-wrap:break-word; 
    word-break:break-all; 
    background-color:white;
}
.food-section1 {
    background-color: #b3b3b3;
    border: 1px solid #000000;
    min-width: 100px;
}
.food-section2 {
    background-color: blue;
    border: 1px solid #000000;
    min-width: 100px;
}
.food-section3{
    background-color: lightgreen;
    border: 1px solid #000000;
    min-width: 100px;
}

p {
    clear: right;
    padding-left: 5px;
    font-size: 1.25em;
}

.food-title {
  background-color: yellow;
    margin: 0px;
    float: right;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 1.75em;

}
.food-section {
    
    border: 1px solid #000000;
    min-width: 200px;
}
@media (min-width: 992px) {
    .food1,
    .food2,
    .food3 {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .food1,
    .food2 {
        width: 50%;
    }
    .food3 {
        width: 100%;
    }
}
@media  (max-width: 767px) {
    .food1,
    .food2 ,
    
    .food3 {
        width: 100%;
    }
}